*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    max-width: 1200px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.blokken{
    height: 200px;
    width: 200px;

}

.blok1{
    background: blue;
}

.blok2{
    background: black;
}

.blok3{
    background: red;
}

.blok4{
    background: green;
}