*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav{
    color: white;
    background-color: red;
    height: 10vh;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
}

.dropbtn{
    width: 20px;
    height: 20px;
    background-color: white;
    display: none;
}


.A1{
    color: black;
    background-color: yellow;
    height: 30vh;
    padding: 1rem;

}

.A2{
    color: black;
    background-color: orange;
    height: 30vh;
    padding: 1rem;

}
.A3{
    color: black;
    background-color: green;
    height: 30vh;
    padding: 1rem;

}

@media screen and (max-width: 768px) and (min-width: 576px) {
    nav {
        color: white;
        background-color: salmon;
        height: 10vh;
        padding: 1rem;
        justify-content: center;
       
        
    }
    
    .A1{
        color: white;
        background-color: red;
        height: 30vh;
        padding: 1rem;
    
    }
    
    .A2{
        color: white;
        background-color: slateblue;
        height: 30vh;
        padding: 1rem;
    
    }
    .A3{
        color: white;
        background-color: blue;
        height: 30vh;
        padding: 1rem;
    
    }

}

@media screen and (max-width: 576px) {
    
    nav{
        color: white;
        background-color: slateblue;
        height: 10vh;
        padding: 1rem;    
      
    }
   
  .dropbtn{
        display: block;
        
    }
    
   
    
    .A1{
        color: white;
        background-color: paleturquoise;
        height: 30vh;
        padding: 1rem;
    
    }
    
    .A2{
        color: white;
        background-color: violet;
        height: 30vh;
        padding: 1rem;
    
    }
    .A3{
        color: white;
        background-color: darkslateblue;
        height: 30vh;
        padding: 1rem;
    
    }

}
   
   
